<h1>LineItems#index</h1>
<ul>
  <% @line_items.each do |li| %>
    <li>
      <%= li.name %>
      <%= li.booked_amount %>
      <%= li.actual_amount %>
      <%= li.adjustments %>
      <%= li.campaign_id %>
    </li>
  <% end %>
</ul>
<%= paginate @line_items %>
