<h2 class="mt-5">LineItems#index</h2>
<table>
  <tr>
    <td>name</td>
    <td>booked amount</td>
    <td>actual amount</td>
    <td>adjustments</td>
    <td>campaign_id</td>
  </tr>
  <% @line_items.each do |li| %>
    <tr>
      <td><%= link_to(li.name, line_item_path(li)) %></td>
      <td><%= li.booked_amount %></td>
      <td><%= li.actual_amount %></td>
      <td>
          <%= form_for li do |f| %>
            <%= f.number_field :adjustments %>
            <%= f.submit "Update" %>
          <% end %>
      </td>
      <td><%= li.campaign_id %></td>
    </tr>
  <% end %>
</table>
<%= paginate @line_items %>
