<h2 class="mt-5">LineItems#show</h2>
<table>
  <tr>
    <td>name</td>
    <td>booked amount</td>
    <td>actual amount</td>
    <td>adjustments</td>
    <td>campaign_id</td>
  </tr>
  <tr>
    <td><%= @line_item.name %></td>
    <td><%= @line_item.booked_amount %></td>
    <td><%= @line_item.actual_amount %></td>
    <td>
        <%= form_for @line_item do |f| %>
          <%= f.number_field :adjustments %>
          <%= f.submit "Update" %>
        <% end %>
    </td>
    <td><%= @line_item.campaign_id %></td>
  </tr>
</table>

<h2>Changelog</h2>
<% if @line_item.versions.size == 1 %>
  No previous changes
<% else %>
  <ul>
    <% @line_item.versions.drop(1).reverse.each do |version| %>
      <li><%= prettify_changeset(version) %></li>
    <% end %>
  </ul>
<% end %>
